.fa-address-book {
    font-size: 4rem;
    padding: 8px;
    color: purple;
    box-sizing: 1px;
    box-shadow: 3px 3px;
    
   
}
.fa-search{
    font-size: 1.5rem;
    border: 1px solid black;
    
}